{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/main_page.css">
{% endblock extra %}

{% block content %}
  {% if loginManager.isLogged() %}
    <div class="user-profile">
      <h1>Ваши тексты</h1>
      {% if userTexts is not empty %}
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Заголовок</th>
              <th><span class="pull-right">Смотреть/удалить</span></th>
            </tr>
          </thead>
          <tbody>
          {% for text in userTexts %}
            <tr>
              <td>{{ loop.index }}</td>
              <td class="user-text">{{ text.content|truncate(100) }}</td>
              <td>
                <a href="/text/delete/{{ text.id }}" class="pull-right"><!--
                  --><span class="glyphicon glyphicon-remove text-crud"></span><!--
                --></a>
                <a href="/text/view/{{ text.id }}" class="pull-right"><!--
                  --><span class="glyphicon glyphicon-eye-open text-crud"></span><!--
                --></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="bg-info message-not-found">У вас пока нет ни одного текста.</p>
      {% endif %}
      <h2><small>Загрузить новый текст</small></h2>
      <form action="" method="POST" name="textForm">
        <textarea name="textForm[content]" class="form-control text-upload-input"
                  rows="10" placeholder="скопируйте сюда текст..."
                  maxlength="65000" value="{{ textForm.content }}"></textarea>
        <button type="submit" class="btn btn-danger text-upload-button">Загрузить</button>
        {% if textForm.errorMessage %}
          <div class="panel panel-danger text-form-error">
            <div class="panel-heading">Ошибка:</div>
            <div class="panel-body">{{ textForm.errorMessage }}</div>
          </div>
        {% endif %}
      </form>
    </div>
  {% else %}
    <div class="main-page-content text-center">
      <h1>Memtext помогает учиться</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore omnis
        repellat debitis nihil, rerum numquam voluptatem repellendus pariatur
        perferendis voluptatum.
      </p>
      <a href="/register"
         class="register-button btn btn-danger btn-lg">Зарегистрироваться</a>
    </div>
  {% endif %}
{% endblock content %}
