<div class="user-profile clearfix">
  <h1>Ваши тексты</h1>
  {% if userTexts is not empty %}
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Заголовок</th>
          <th><span class="pull-right">Смотреть/удалить</span></th>
        </tr>
      </thead>
      <tbody>
        {% for text in userTexts %}
          <tr>
            <td>{{ loop.index }}</td>
            <td class="user-text">{{ text.content|truncate(100) }}</td>
            <td>
              <a href="/text/delete/{{ text.id }}" class="pull-right"><!--
                --><span class="glyphicon glyphicon-remove text-crud"></span><!--
              --></a>
              <a href="/text/view/{{ text.id }}" class="pull-right"><!--
                --><span class="glyphicon glyphicon-eye-open text-crud"></span><!--
              --></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if pager.linksCount > 1 %}
      <div class="row">
        <nav class="col-md-9 center-block">
          <ul class="pagination pagination-sm">
            {% if pager.currentPage == pager.getFirstPage() %}
              <li class="disabled">
                <span>&laquo;</span>
              </li>
            {% else %}
              <li>
                <a href="?page={{ pager.getPrevPage() }}">&laquo;</a>
              </li>
            {% endif %}

            {% for i in range(pager.getFirstPage(), pager.getLastPage()) %}
              {% if i == pager.currentPage %}
                <li class="active"><a href="">{{ i }}</a></li>
                {% else %}
                <li>
                  <a href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if pager.currentPage != pager.getLastPage() %}
              <li>
                <a href="?page={{ pager.getNextPage() }}">&raquo;</a>
              </li>
              {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        </nav><!-- pagination -->
      </div><!-- row -->
    {% endif %}

  {% else %}
    <p class="bg-info message-not-found">У вас пока нет ни одного текста.</p>
  {% endif %}
  <a href="/text/new" class="btn btn-danger pull-right">Создать новый</a>
</div>
