{% extends 'main_layout.twig' %}

{% block extra %}
  <link rel="stylesheet" href="/css/view_text.css">
{% endblock extra %}

{% block content %}
  <div class="text-content">
    <section class="clearfix content">
      <h1>{{ text.getTitle() }}</h1>
      <article class="article">{{ text.getContent()|raw }}</article>
      <a href="/test/{{ text.getId() }}"
         class="btn btn-success pull-right">Пройти тест</a>
    </section>
    {% for dict in text.getFulldicts() %}
      <section class="dictionary">
        <h2 class="text-primary">{{ dict.getKeyword() }}</h2>
        <article>
          <table>{{ dict.getDefinition()|raw }}</table>
        </article>
      </section>
    {% endfor %}
  </div>
{% endblock content %}
